<footer class="footer p-10 bg-base-300">
  <aside>
    <h2 class="text-xl font-semibold">balance</h2>
    <p>Copyright © 2024 - Aryan Goyal<br />MIT License</p>
  </aside>
  <nav>
    <h6 class="footer-title">Social</h6>
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/ary82" target="_blank" rel="noopener noreferrer">
        {{template "icons/github"}}
      </a>
      <a href="https://linkedin.com/in/aryan-goyal1" target="_blank" rel="noopener noreferrer">
        {{template "icons/linkedin"}}
      </a>
      <a href="mailto:mail@ary82.dev"> {{template "icons/mail"}} </a>
    </div>
  </nav>
</footer>
