<html lang="en">
  <head>
    <title>balance</title>
    <link rel="stylesheet" href="./index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>
  </head>
  <form id="post" hx-post="/">
    <input type="text" name="body" />
    <input type="text" name="author" />
    <button type="submit">Submit</button>
  </form>
  <div hx-ext="sse" sse-connect="/sse">
    <div sse-swap="positive_body"></div>
    <div sse-swap="positive_author"></div>
    <div sse-swap="negative_body"></div>
    <div sse-swap="negative_author"></div>
  </div>
</html>
